.grid {
  display: grid;
  grid-template-columns: 1fr min(92%, 1500px) 1fr;

  > * {
    grid-column: 2;
  }

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
  }
}
