@use '../vars';

.solutions {
  padding: 2rem 0;

  @media screen and (min-width: 1000px) {
    max-width: 600px;
    position: absolute;
    right: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 750px;
    position: absolute;
    right: 0;
  }
}

.solutions-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .card {
    // max-width: 40%;
    overflow: hidden;
    background: vars.$off-white;
    width: 80%;
    border-radius: 10px;

    &__inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .thumb {
        max-height: 220px;
      }

      img {
        height: auto;
        width: 100%;
        aspect-ratio: auto 500 / 313;
      }

      h2 {
        padding: 0rem 1rem 0.5rem 1rem;
        flex-grow: 1;
        letter-spacing: -0.5px;
        font-size: 1.25em;
        line-height: 1.25;
        font-weight: 600;
      }

      .tags {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 500;
        display: inline-flex;
        flex-wrap: wrap;
        overflow: hidden;
        letter-spacing: 1.2px;
        padding: 1rem 1rem 0.5rem 1rem;
        color: vars.$desat-brown;

        li:not(:last-of-type) {
          margin-right: 2px;
        }
      }
      .links {
        padding: 0.5em 1rem 1rem 1rem;
        font-size: 0.83em;
        font-weight: 500;
        text-transform: uppercase;
        align-self: flex-end;
        list-style-type: none;

        li {
          display: inline-flex;
          align-items: center;
          margin-left: 10px;

          a {
            display: flex;
          }

          svg {
            margin-right: 6px;
            font-size: 1.3em;
          }
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .card {
      width: 45%;
    }
  }
  @media screen and (min-width: 1000px) {
    justify-content: flex-end;
  }
}
