@use 'vars';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  background-color: vars.$beige;
  color: vars.$grey;
  font-family: "Arial", ui-sans-serif, sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  color: vars.$dark-brick;
}

main {
  flex: 1;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 0.389em;
}
a {
  text-decoration: none;
  color: vars.$brick;
  transition: color 0.4s ease;

  &:visited {
    text-decoration: none;
    color: vars.$brick;
  }

  &:hover,
  &:active {
    color: vars.$dark-brick;
  }
}
